.app{
  display:grid;
  place-items:center;
  background-color: #dadbd3;
  height:100vh;
}

.app__body{
  display:flex;
  background-color:#ededed;
  margin-top: -50px;
  height:90vh;
  width:90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}

@media only screen and (max-width: 1440px){}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {}

@media (max-width: 414px) {
  .app__body{
    height:100%;
    width:100%;
    margin-top:0;
  }
}